* {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  background: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}
.logo {
  margin-right: 59px;
}
.input-group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  padding-right: 17px;
  align-items: center;
  max-width: 830px;
  width: 50%;
}
.input-search {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  background-color: transparent;
  border: none;
}
.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-search {
  fill: black;
}
.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-video {
  opacity: 0.24;
}
.icon-video:hover {
  opacity: 0.8;
}
.icon-apps {
  opacity: 0.24;
}
.icon-apps:hover {
  opacity: 0.8;
}
.icon-notification {
  opacity: 0.24;
}
.icon-notification:hover {
  opacity: 0.8;
}
.icons-link {
  text-decoration: none;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}
.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar {
  position: fixed;
  left: 0px;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  width: 14%;
  padding-left: 32px;
  background-color: #fff;
}
.content {
  width: 100%;
  height: 400px;
  margin-top: 85px;
  padding-left: 15%;
  padding-top: 30px;
}
.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}
.nav-item {
  margin-bottom: 28px;
}
.nav-link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}
.nav-link:hover {
  color: #ff0000;
}
.nav-link:hover .icon {
  fill: #ff0000;
}
.nav-item .icon {
  fill: #898989;
}
.nav-text {
  margin-left: 13px;
}
.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.channel {
  position: relative;
  margin-bottom: 49px;
}
.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}
.channel-text {
  margin-left: 20px;
}
.video-card {
  width: 250px;
}

.video-thumb {
  width: 250px;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}
.thumbnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  padding: 3px 9px;
}
.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  margin-top: 10px;
  margin-bottom: 4px;
}
.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}
.video-counter {
  display: flex;
}
.video-views {
  margin-right: 5px;
}
.video-views:after {
  content: " ";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.channel-button {
  cursor: pointer;
}
.slider-buttons {
  position: relative;
  top: 0px;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.recommended-slider-buttons {
  position: relative;
  top: 0px;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.food-slider-buttons {
  position: relative;
  top: 0px;
  left: 88%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
